
__pycache__/
*.py[cod]
*$py.class

*.log
*.pot
*.pyc
*.pyo
*.pyd


.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg


.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/
coverage.xml
*.cover
*.py,cover


docs/_build/
site/


.DS_Store
Thumbs.db

*.env
*.ini
*.local


.vscode/settings.json
